@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;

   
    scroll-margin-top: 100px;
}

.title{
    color:var(--color-text);
    font-style: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width:90%;
    margin-left: 10%;
    margin-bottom: 10%;
    background-color: rgb(3, 21, 34);
    border-radius: 10px;
    padding: 5%;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer{
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 120px;
    height:120px;
}

.skillImageContainer img{
    width: 75px;
}

.skill p{
    font-size : 16px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
}

.historyItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
    background-repeat: no-repeat;
    transition: 0.4s;
    background-size: 0 100%;

}
.historyItem:hover{
    background-size: 100% 100%;
}

.historyItem img{
    width: 50px;
}


.historyItemDetails h3{
    font-size: 20px;
    font-weight: 500;
}

.historyItemDetails h4{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}
.historyItemDetails p{
    font-size: 16px;
    font-weight: 300;
}

.historyItemDetails ul{
    margin-top: 40px;
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 17px;
    font-size: 16px;
}
.historyItemDetails li{
margin-top: 15px;
}

@media screen and (max-width:830px){
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .skills{
        width: 100%;
        justify-content: center;
        flex-direction: row;
        margin-left: 0;
        padding: 50px;
    }

    .history{
        margin-top: 10%;
        width: 100%;
        gap: 9px;
    }

    .historyItem{
        margin-top: 10px;
    }
}