@import "../../vars.css";

.container{
    background-color: #092635;
    color:var(--color-text);
    display: flex;
    flex-direction:row;
    margin-top: 40px;
    justify-content: space-evenly;
    padding:28px ;
    width:100vw;
    gap:10px;
    scroll-margin-top: 100px;
}

.text h2{
    font-size:80px;
    font-weight: 600;
    letter-spacing: 2px;
}

.text p{
    margin-left: 10px;
}

.links {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    list-style: none;
    gap:16px;
}

.link{
    display:flex;
    align-items:center;
    gap:15px;
}

.link a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 1.5px;
}

.copyryt{
    font-size:10px;
    opacity: 0.5;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    background-color: #092635;

   
}

@media screen and (max-width:830px){
    .container{
        flex-direction: column;
        /* gap:1px; */
       height: 20%;
    }
    .text h2{
        font-size:40px;
        font-weight: 600;
        /* letter-spacing: 2px; */
    }
    
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links{
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 4%;
    }
    .links a{
        font-size: 15px;
    font-weight:100;
    }

    .links img{
        display: flex;
    }

    

    .container .copyryt{
        font-size:10px;
        opacity: 0.5;
        display: flex;
        letter-spacing: 4px;
    }
}